header {
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7c1c1;
    color: #ffffff;
    background-image: url("backgrounds.jpg");
    background-size: cover; /* Cover the entire viewport */
    background-attachment: fixed; /* Fixed background */
}

img {
    border-radius: 0; 
    width: 500px; 
    height: 500px; 
    margin-left: auto;
  margin-right: auto;
    margin-top: 10px;
    
  }

nav ul {
    list-style-type: none; 
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: orange; 
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;


}
  
footer {
    text-align: center;
    padding: 0;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
    background-color: #f1f1f1;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

a:hover {
    background-color: blue;
}